.formContainer {
  border: 1px solid #181313;
  padding: 40px;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  background-color: rgb(239, 199, 138);

}
form div {
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
}
label {
  margin-right:20px ;
  display: inline-block;
  width: 100px;
  text-align: right;
  font-weight: bold;
  
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  display : flex;
  margin: auto;
}
input {
  padding : 5px 10px;
  border-radius: 7px;

}
