nav {
    background-color: black;
    padding: 6px 8px;
}

nav ul {
    margin: 0;
    padding: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    width: 50%;
}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
}
