.recordContainer {
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #d6d4d4;
}

.record-input{
    border-radius: 7px;
    outline: none;
    border: 2px solid #181313;
    padding: 5px 10px; 

}
.record-search-container {
    width: auto;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.recordbutton{
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  display : flex;
  margin-left: 15px;
}